
<h2>Giant Squid</h2>
<div class="container contentContainer">
    <div class="container">
        <div class="col-md-4">
            <img src="~/Content/Images/squid.jpg" class="brandImage300" />
        </div>
        <div class="col-md-8">
            <p class="img-p">
                What has eight arms with hundreds of suckers, eyes the size of grapefruit and a razor-sharp beak? A giant squid!
            </p>
            <p class="img-p">
                Giant squid have captured, and terrified, the seafaring imagination for centuries. This illustration recreates a giant squid observed off Tenerife in November of 1861.
            </p>
        </div>
    </div>
</div>