
<h2>Four</h2>
<div class="container col-md-6 contentContainer">
    <h3>Some Content Title</h3>
    <div class="container">
        <div class="col-md-4">
            <img src="~/Content/Images/placeholder.png" class="brandImage300" />
        </div>
        <div class="col-md-8">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue faucibus felis aliquam feugiat. Nulla ornare eros risus, sit amet imperdiet nisi accumsan vel.
                Vestibulum vitae nulla orci. Proin egestas varius tempus. Duis sed felis in massa eleifend ornare. Proin nulla mauris, ullamcorper non orci imperdiet, convallis egestas augue. Suspendisse a lacus nibh.
                Maecenas sit amet convallis ex. Vestibulum eu orci quis turpis auctor malesuada. Praesent convallis tellus sit amet ante euismod placerat.
            </p>
        </div>
    </div>
</div>