<h2>Kraken</h2>

<div class="container col-md-6 contentContainer">
    <h3>The Legendary Kraken</h3>
    <div>
        <p>
            Although the Kraken was usually described as a giant octopus or squid, it has also been described as a "crab-like" creature. It was believed to cause large whirlpools.
        </p>
        <p>
            The Kraken was said to lie at the bottom of the sea and surface in search of food or when disturbed, probably by a large ship.
        </p>
        <p>
            The myth of the Kraken is believed by many historians to have originated from the giant squid. The giant squid can reach 18 meters in length and has been rarely seen by humans as it lives in very deep waters.
        </p>
    </div>

</div>
<div class="container col-md-12">
    <div ui-view="nestedView"></div>
</div>
