<div class="container contentContainer">
    <div class="col-md-3">
        <div class="sliderImageContainer">
            <div class="row">
                <img src="~/Content/Images/energy-drink.svg" class="sliderImage" />
            </div>
            <p>Some Image Text</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="sliderImageContainer">
            <div class="row">
                <img src="~/Content/Images/protein.svg" class="sliderImage" />
            </div>
            <p>Some Image Text</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="sliderImageContainer">
            <div class="row">
                <img src="~/Content/Images/muscle.svg" class="sliderImage" />
            </div>
            <p>Some Image Text</p>
        </div>
    </div>

    <div class="col-md-3">
        <div class="sliderImageContainer">
            <div class="row">
                <img src="~/Content/Images/winner.svg" class="sliderImage" />
            </div>
            <p>Some Image Text</p>
        </div>
    </div>
</div>